ol, ul {
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 1rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.icon-list {
  li {
    display: flex;    
    align-items: center;
    padding: 0 3rem 0 0;
  }
  &__icon {
    margin: 0 1rem 0 0;
    width: 5.6rem;
    height: 5.6rem;
    background: $main-bg-color;
    border-radius: 1rem;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 2.7rem;
    }
  }  
}

.bullet-list {
  margin: 2rem 0;
  li {
    position: relative;
    padding: 0 3rem 0 5.4rem;
    display: flex;
    align-items: center;
    min-height: 4rem;
    &:before {
      content: "•";
      position: absolute;
      top: 0;
      left: 0;
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primary-color;
      background: $main-bg-color;
      border-radius: 1rem; 
    }
  }
}
