$main-text-color: #000;
$link-color: #0051D4;
$link-hover-color: #3b86ff;
$error-color: #D90800;
$primary-color: #0051D4;
$primary-hover-color: #0051D4;
$white-color: #FFF;
$secondary-text-color: #A9B3BF;
$main-box-shadow: inset 0 0 0 1px #e0e3e8;   
$secondary-box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);
$main-bg-color: #EDEFF2;
$main-border-color: #717880;